
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/Scripts/jquery.js"></script>
</head>
<body>
    <div> 
        <button>Push State</button>
    </div>

    <script>
        $(function () {
            $("button").click(function () {
                history.pushState({}, null, "state");
            });
        });
    </script>
</body>
</html>
