<!DOCTYPE html>

<html>
<head>
    <title>Web Worker Sample</title>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/App.js"></script>
</head>

<body>
    <input type="text" value="41" />
    <button>Calc</button>
    <div></div>
</body>
</html>
