@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <style>
        input:invalid {
            border: 1px solid red;
            background-color: red;
        }
    </style>
</head>
<body>
    <form>
        Name:
        <input type="text" required />

        <br />
        Description:
        <input type="text" maxlength="10" />

        <br />
        Employee #:
        <input type="number" min="1000" max="1200" step="2" />

        <br />
        E-Mail:
        <input type="email" />

        <br />
        URL:
        <input type="url" />

        <input type="submit" value="Submit" />
    </form>

    <script src="~/Scripts/jquery-2.1.1.js"></script>

    <script>
        $(function () {
        });
    </script>
</body>
</html>
