@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <style>
        input[type=file] {
            display: none;
        }
    </style>
</head>
<body>
    <input type="file" multiple />

    <button class="browse">Browse</button>

    <script src="~/Scripts/jquery-2.1.1.js"></script>

    <script>
        $(function () {
            var count = 1;

            var fileInput = $("input");

            fileInput.bind("change", function () {
                console.log("File selection changed: " + fileInput[0].files.length);

                dump();
            });

            $(".browse").click(function () {
                fileInput.trigger("click");
            });

            function dump() {
                $.each(fileInput[0].files, function () {
                    var file = this;

                    console.log(file.name);
                    console.log("    type: " + file.type);
                    console.log("    size: " + file.size);
                    console.log("    lastModifiedDate: " + file.lastModifiedDate);
                    console.log("    slice: " + typeof file.slice);
                });
            }
        });
    </script>
</body>
</html>
