@{
    ViewBag.Title = "Index";
}

<style>
    body
    {
        text-align: center;
    }

    .saved
    {
        display: none;
    }

    .error
    {
        display: none;
    }

    .saved div
    {
        background-color: lightblue;
        color: white;
        padding: 1em;
        width: 30em;
        display: inline-block;
        margin: 1em;
    }

    .error div
    {
        background-color: hsl(0, 75%, 50%);
        color: white;
        padding: 1em;
        width: 30em;
        display: inline-block;
        margin: 1em;
    }
</style>

<h2>Save a Canvas</h2>

<div class="saved">
    <div>
        File was saved successfully
    </div>
</div>

<div class="error">
    <div>
        Failed to save file
    </div>
</div>

<canvas id="myCanvas" width="400" height="200" style="border: 1px solid #000000;">
</canvas>

<div style="margin-top: 1em;">
    <button class="clear">Clear</button>
    <button class="save">Save</button>
</div>

@section scripts
{
    <script type="text/javascript">
        var from = null;
        var to = null;

        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");

        //$(".saved, .error").css("display", "none");

        $(canvas).bind("selectstart", function () {
            //
            //  prevent cursor from changing to Beam style
            //
            return false;
        });

        $(".clear").click(function () {
            clear();
        });

        $(".save").click(function () {
            save();
        });

        $("canvas").bind("mousedown", function (e) {
            console.log("down: " + e.offsetX + ", " + e.offsetY);

            from = {
                x: e.offsetX,
                y: e.offsetY
            };
        });

        $("canvas").bind("mouseup", function (e) {
            console.log("up: " + e.offsetX + ", " + e.offsetY);

            from = null;
            to = null;
        });

        $("canvas").bind("mousemove", function (e) {
            if (!from) {
                return;
            }

            console.log("move: " + e.offsetX + ", " + e.offsetY);

            to = {
                x: e.offsetX,
                y: e.offsetY
            };

            ctx.beginPath();
            ctx.moveTo(from.x, from.y);
            ctx.lineTo(to.x, to.y);
            ctx.stroke();

            from = to;
        });

        function draw() {
            clear();

            ctx.fillStyle = "#FF0000";

            if (type == "rect") {
                ctx.fillRect(position.x - 25, position.y - 25, 50, 50);
            }
            else if (type == "ellipse") {
                ctx.beginPath();
                ctx.arc(position.x, position.y, 25, 0, 2 * Math.PI);
                ctx.fill();
            }
        }

        function clear() {
            ctx.clearRect(0, 0, 400, 200);
        }

        function save() {
            $(".saved, .error").hide();

            var url = canvas.toDataURL();

            $.ajax({
                url: "/Home/SaveImage",
                type: "POST",
                data: {
                    imageData: url
                },
                success: function () {
                    $(".saved").slideDown("slow");
                },
                error: function () {
                    $(".error").slideDown("slow");
                }
            });
        }
    </script>
}
