<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title></title>

    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div ng-controller="ContactIndexCtrl as ctrl">

        <div ng-controller="ContactNewCtrl as ctrl">
            <input ng-model="ctrl.newName" /><button ng-click="ctrl.add()">Add</button>
        </div>

        <ul ng-cloak>
            <li ng-repeat="contact in ctrl.contacts">
                <span ng-cloak>{{contact.name}}</span>
                <span ng-cloak>{{contact.email}}</span>
                <button ng-click="ctrl.remove(contact)">Delete</button>
            </li>
        </ul>
    </div>

    <script src="angular.js"></script>

    <script src="App.js"></script>

    <script src="ContactService.js"></script>

    <script src="ContactIndexCtrl.js"></script>
    <script src="ContactNewCtrl.js"></script>
</body>
</html>
